In [37]:
import tushare as ts
import numpy as mp
import pandas as pd
import os
import jqdatasdk     # JoinQuant SDK
import datetime
from bokeh.plotting import figure, show, output_notebook
from bokeh.layouts import column, row, gridplot, layout
from bokeh.models import Span
output_notebook()

In [63]:
train_300 = pd.read_csv(os.getcwd() + '/train.csv', index_col=0)
# train_300['datetime'] = pd.to_datetime(train_300.datetime)
# train_300.set_index(train_300.datetime, inplace=True)
train_300

,datetime,open,high,low,close,volume,money
0,2013-01-14,2551.81,2583.63,2473.70,2577.72,5.541036e+10,5.602669e+11
1,2013-01-23,2579.13,2620.03,2539.67,2607.46,6.056519e+10,6.064508e+11
2,2013-02-01,2606.43,2744.32,2564.21,2743.32,6.625742e+10,6.831217e+11
3,2013-02-19,2753.69,2791.30,2674.34,2685.61,6.513217e+10,6.801547e+11
4,2013-02-28,2686.09,2703.10,2564.67,2673.33,5.141966e+10,5.389911e+11
...,...,...,...,...,...,...,...
169,2017-11-24,4063.49,4260.64,4057.49,4104.20,1.126449e+11,1.545622e+12
170,2017-12-05,4088.93,4088.93,3982.32,4040.17,8.321716e+10,1.100689e+12
171,2017-12-14,4027.12,4070.15,3955.44,4026.15,6.286258e+10,8.902225e+11
172,2017-12-25,4018.73,4086.93,3967.93,4041.54,5.972680e+10,8.451944e+11
173,2017-12-29,4040.62,4056.86,3980.24,4030.85,4.053019e+10,5.351357e+11

In [64]:
df_train = train_300
df_train['datetime'] = pd.to_datetime(df_train['datetime'])
df_train.set_index(df_train['datetime'], inplace=True)
df_train.rename(columns={'datetime':'None'}, inplace=True)
df1 = df_train.drop(columns=['None'])
df1 # refers to train dataframe

               open     high      low    close        volume         money
datetime
2013-01-14  2551.81  2583.63  2473.70  2577.72  5.541036e+10  5.602669e+11
2013-01-23  2579.13  2620.03  2539.67  2607.46  6.056519e+10  6.064508e+11
2013-02-01  2606.43  2744.32  2564.21  2743.32  6.625742e+10  6.831217e+11
2013-02-19  2753.69  2791.30  2674.34  2685.61  6.513217e+10  6.801547e+11
2013-02-28  2686.09  2703.10  2564.67  2673.33  5.141966e+10  5.389911e+11
...             ...      ...      ...      ...           ...           ...
2017-11-24  4063.49  4260.64  4057.49  4104.20  1.126449e+11  1.545622e+12
2017-12-05  4088.93  4088.93  3982.32  4040.17  8.321716e+10  1.100689e+12
2017-12-14  4027.12  4070.15  3955.44  4026.15  6.286258e+10  8.902225e+11
2017-12-25  4018.73  4086.93  3967.93  4041.54  5.972680e+10  8.451944e+11
2017-12-29  4040.62  4056.86  3980.24  4030.85  4.053019e+10  5.351357e+11

[174 rows x 6 columns]

In [65]:
test_300 = pd.read_csv(os.getcwd() + '/test.csv', index_col=0)
# train_300['datetime'] = pd.to_datetime(train_300.datetime)
# train_300.set_index(train_300.datetime, inplace=True)
test_300

,datetime,open,high,low,close,volume,money
0,2013-01-14,2551.81,2583.63,2473.70,2577.72,5.541036e+10,5.602669e+11
1,2013-01-23,2579.13,2620.03,2539.67,2607.46,6.056519e+10,6.064508e+11
2,2013-02-01,2606.43,2744.32,2564.21,2743.32,6.625742e+10,6.831217e+11
3,2013-02-19,2753.69,2791.30,2674.34,2685.61,6.513217e+10,6.801547e+11
4,2013-02-28,2686.09,2703.10,2564.67,2673.33,5.141966e+10,5.389911e+11
...,...,...,...,...,...,...,...
169,2017-11-24,4063.49,4260.64,4057.49,4104.20,1.126449e+11,1.545622e+12
170,2017-12-05,4088.93,4088.93,3982.32,4040.17,8.321716e+10,1.100689e+12
171,2017-12-14,4027.12,4070.15,3955.44,4026.15,6.286258e+10,8.902225e+11
172,2017-12-25,4018.73,4086.93,3967.93,4041.54,5.972680e+10,8.451944e+11
173,2017-12-29,4040.62,4056.86,3980.24,4030.85,4.053019e+10,5.351357e+11

In [67]:
df_test = test_300
df_test['datetime'] = pd.to_datetime(df_test['datetime'])
df_test.set_index(df_test['datetime'], inplace=True)
df_test.rename(columns={'datetime':'None'}, inplace=True)
df2 = df_test.drop(columns=['None'])
df2 # refers to test dataframe

               open     high      low    close        volume         money
datetime
2013-01-14  2551.81  2583.63  2473.70  2577.72  5.541036e+10  5.602669e+11
2013-01-23  2579.13  2620.03  2539.67  2607.46  6.056519e+10  6.064508e+11
2013-02-01  2606.43  2744.32  2564.21  2743.32  6.625742e+10  6.831217e+11
2013-02-19  2753.69  2791.30  2674.34  2685.61  6.513217e+10  6.801547e+11
2013-02-28  2686.09  2703.10  2564.67  2673.33  5.141966e+10  5.389911e+11
...             ...      ...      ...      ...           ...           ...
2017-11-24  4063.49  4260.64  4057.49  4104.20  1.126449e+11  1.545622e+12
2017-12-05  4088.93  4088.93  3982.32  4040.17  8.321716e+10  1.100689e+12
2017-12-14  4027.12  4070.15  3955.44  4026.15  6.286258e+10  8.902225e+11
2017-12-25  4018.73  4086.93  3967.93  4041.54  5.972680e+10  8.451944e+11
2017-12-29  4040.62  4056.86  3980.24  4030.85  4.053019e+10  5.351357e+11

[174 rows x 6 columns]